<div class="container" *ngIf="visible">
    <h5>Nuevo Post</h5>
    <form (ngSubmit)="onCreate()" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="informacion"> Data Post : </label>
        <input type="text"
               class="form-control"
               name="informacion"
               id="informacion"
               [(ngModel)]="form.informacion"
               required
               autocomplete="off">
      </div>
      <div class="form-group">
        <label for="fechacreacion">Fecha Creacion: </label>
        <input type="text"
               class="form-control"
               name="fechacreacion"
               id="fechacreacion"
               [(ngModel)]="form.fechacreacion"
               required
               autocomplete="off">
      </div>
      <div class="form-group">
        <label for="fechaedicion">Fecha Edicion: </label>
        <input type="text"
               class="form-control"
               name="fechaedicion"
               id="fechaedicion"
               [(ngModel)]="form.fechaedicion"
               required
               autocomplete="off">
      </div>
      <div class="form-group">
        <label for="youtube">Link Video Youtube: </label>
        <input type="text"
               class="form-control"
               name="youtube"
               id="youtube"
               [(ngModel)]="form.youtube"
               required="off"
               autocomplete="off">
      </div>
      <div class="form-group">
        <label for="uploadfiles"> Subir Imagenes: </label>
        <input type="file" name="uploadfiles" (change)="cargandoImagen($event.target.files)" multiple enctype="multipart/form-data">     
      </div>
      
      

    <div class="form-group">
      <button type="submit" class="btn btn-success" [disabled]="!f.valid">Crear</button>
    </div>
  </form>
  <br>
  <br>
  <div *ngIf="falloCreacion" class="float-left">
    <p class="p-3 bg-danger text-white rounded">Error: {{msjFallo}}</p>
  </div>
  <div *ngIf="creado" class="float-left">
    <p class="p-3 bg-success text-white rounded">OK: {{msjOK}}</p>
  </div>
   