<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">ID Post</th>
      <th scope="col">Información</th>
      <th scope="col">Fecha Pub</th>
      <th scope="col">Fecha Edi</th>
      <th scope="col">Elementos (path)</th>
      <th scope="col">Editar</th>
      <th scope="col">Borrar</th>
    </tr>
  </thead>
  <!--<div *ngIf="hayPosts"> -->
    <tbody>
        <tr *ngFor="let post of posts">
        <td>{{post.id}}</td>
        <td>{{post.informacion}}</td>
        <td>{{post.fechaCreacion}}</td>
        <td>{{post.fechaEdicion}}</td>
         <td> 
           <div *ngFor="let elemento of listaDeElementos">
              {{elemento}}
           </div>
        </td>
        <td><button class="btn btn-warning" routerLink="posts/editar/{{post.id}}">Editar</button></td>
        <td><button class="btn btn-danger" (click)="onDelete(post.id)">Borrar</button></td>
      </tr>
    </tbody>
  <!-- </div>-->
</table>
<div *ngIf="hayBiografia">
  <button class="btn btn-success btn-lg" (click)="nuevoPost()">Nuevo Post</button>
  <app-nuevo-post *ngIf="nuevoPostComponent.visible"></app-nuevo-post>
</div>