<!-- Div General del Sitio-->
<div class="container-12">

  <div class="row d-flex justify-content-center">
    <div class="text-center col-4 d-flex flex-column flex-wrap" style="background-color: wheat">
      <app-imagen-perfil-redsocial-banda></app-imagen-perfil-redsocial-banda>
      <app-info-perfil-redsocial-banda></app-info-perfil-redsocial-banda>

    </div>
    <div class="col-8" style="background-color: azure">
      <app-puntuacion-redsocial-banda></app-puntuacion-redsocial-banda>
    </div>

  </div>

  <!-- área derecha -> Posts -->
</div>