<div class="container">
  <h5>Editar Promocion</h5>
  <form (ngSubmit)="onUpdate()" #f="ngForm" novalidate>
    <div class="form-group">
      <label for="titulo">Titulo: </label>
      <input type="text"
              class="form-control"
              name="titulo"
              id="titulo"
              [(ngModel)]="form.titulo"
              required
              autocomplete="off">
    </div>
    <div class="form-group">
      <label for="descripcion">Descripcion: </label>
      <input type="text"
              class="form-control"
              name="descripcion"
              id="descripcion"
              [(ngModel)]="form.descripcion"
              required
              autocomplete="off">
    </div>
    
    <div class="form-group">
      <label for="valorpromocion">Valor promocion: </label>
      <input type="number"
              class="form-control"
              name="valorpromocion"
              id="valorpromocion"
              [(ngModel)]="form.valorpromocion"
              required
              autocomplete="off">
    </div>
    <div class="form-group">
      <label for="importe">Importe: </label>
      <input type="number"
              class="form-control"
              name="importe"
              id="importe"
              [(ngModel)]="form.importe"
              required
              autocomplete="off">
    </div>
    <div class="form-group">
      <label for="vigencia">Vigencia: </label>
      <input type="date"
              class="form-control"
              name="vigencia"
              id="vigencia"
              [(ngModel)]="form.vigencia"
              required
              autocomplete="off">
    </div>

  
    <div class="form-group">
      <button type="submit" class="btn btn-success" [disabled]="!f.valid">Confirmar</button>
    </div>
  </form>
  <div>
    <button class="btn btn-primary float-left mr-3" (click)="volver()">Volver</button>
  </div>
  <br>
  <br>
  <div *ngIf="falloActualizacion" class="float-left">
    <p class="p-3 bg-danger text-white rounded">Error: {{msjFallo}}</p>
  </div>
  <div *ngIf="actualizado" class="float-left">
    <p class="p-3 bg-success text-white rounded">OK: {{msjOK}}</p>
  </div>
</div>