<div id="nuevoPostBoton">
  <button class="btn btn-success btn-lg" (click)="nuevoPost()">Nuevo Post</button>
  <app-nuevo-post *ngIf="nuevoPostComponent.visible"></app-nuevo-post>
</div>

<section id="postContainer" class="col-12">

  <div *ngIf="hayPosts" >

      <div class="post row d-flex justify-content-center" *ngFor="let post of posts">
        <div class="info col-12"> Creado: {{post.fechaCreacion | date: 'dd/MM/yyyy HH:mm:SS'}}</div>
        <div class="fechaEdicion col-4" *ngIf="isEdited(post)"><span>Editado: {{post.fechaEdicion | date: 'dd/MM/yyyy HH:mm:SS'}}</span></div>
        <div class="info col-12">Info Post {{post.informacion}}</div>
        <div class="col-12 d-flex flex-row justify-content-center">
          <div *ngIf="hasResource(post, 'vid')">
            <button class="btn btn-success" (click)="verVideo(post)">Ver video</button>
          </div>
          <div *ngIf="hasResource(post, 'img')">
            <button class="btn btn-success" (click)="verImagen(post)">Ver Imagenes</button>
          </div>
          <button class="btn btn-warning" routerLink="posts/editar/{{post.id}}">Editar</button>
          <button class="btn btn-danger" (click)="onDelete(post.id)">Borrar</button>
        </div>
      </div>

    </div>

</section>

