
  <div *ngIf="videoYoutube">
      <div>
          <iframe width="860" height="315" [src]="getVideoIframe(videoYoutube)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
      </div>
      <div>
        <button type="button" id="btnadd" class="btn btn-success" (click)="editarVideoYoutube()"> Cambiar video </button>
      </div>
  </div>  
  
  <div *ngIf="listaYoutube"> 
        <br><br>
        <div>
                <img src="https://raw.githubusercontent.com/CodeDotJS/youtube-playlist/master/media/logo.png" style="width:500px;height:180px;" (click)="abrirYoutube()">
        </div>
        <div>
                <br> <button type="button" class="btn btn-warning" (click)="editarListaYoutube()"> Cambiar Lista / Canal  </button>
        </div>
        
            
            
        
  </div>
    
      <div *ngIf="!videoYoutube">
          <button type="button" id="btnadd" class="btn btn-success" (click)="editarVideoYoutube()"> Agregar Video Básico Youtube </button>
          
      </div>

      <div *ngIf="!listaYoutube">
            <button type="button" class="btn btn-warning" (click)="editarListaYoutube()"> Agregar  Lista / Canal  </button>
      </div>
  
  

  