
<div> 
  
  <input type="text" name="buscar" id="buscar">
  <button class="btn btn-success btn-lg" (click)="buscar()">Buscar en la Red </button>
  <button class="btn btn-warning btn-lg d-inline-block mr-2" routerLink="/posts/nuevo/homeSocialNetwork">Nuevo Post</button>

</div>
 
<label  class="d-inline-block mr-2" for="busqueda"><strong> Mecanismo de búsqueda: </strong> </label>
<div class="d-inline-block mr-2">
    <div class="d-inline-block mr-2">
      <input id="artista" type="radio" value="artista" name="busqueda" (change)="cambioRadioButton($event)">
      <label for="artista">Artista</label>
    </div>
    <div class="d-inline-block mr-2">
      <input id="banda" type="radio" value="banda" name="busqueda" (change)="cambioRadioButton($event)">
      <label for="banda"> Banda </label>
    </div>
    <div class="d-inline-block mr-2">
      <input id="post" type="radio" value="post" name="busqueda" (change)="cambioRadioButton($event)">
      <label for="post">Post</label>
    </div>
    
</div>


 
<section id="homeSiteContainer" class="col-12">
   <div *ngIf="hayPosts" >
    <span></span>
    <div class="post row d-flex justify-content-center" *ngFor="let post of posts">
      <div class="info col-12"> Usuario: {{post.username}}</div>
      <div class="info col-12"> NickName: {{post.nickname}}</div>
      <div class="info col-12"> Creado: {{post.fechaCreacion | date: 'dd/MM/yyyy HH:mm:SS' }}</div>
      <div class="fechaEdicion col-4" *ngIf="isEdited(post)"><span>Editado: {{post.fechaEdicion | date: 'dd/MM/yyyy HH:mm:SS'}}</span></div>
      <div class="info col-12">Info Post {{post.informacion}}</div>
      <div class="col-12 d-flex flex-row justify-content-center">
        <div *ngIf="hasResource(post, 'vid')">
          <button class="btn btn-success" (click)="verVideo(post)">Ver video</button>
        </div>
        <div *ngIf="hasResource(post, 'img')">
          <button class="btn btn-success" (click)="verImagen(post)">Ver Imagenes</button>
        </div>
        <button class="btn btn-success" routerLink="/redsocial/{{post.username}}">Ver Perfil</button>
      </div>
    </div>

  </div>

</section>

<section id="artistaContainer" class="col-12">
  <div *ngIf="hayArtistas" >
   <span></span>
   <div class="post row d-flex justify-content-center" *ngFor="let artista of artistas">
    
      <div class="info col-12"> Artista: {{artista.nombre}}</div>
    <div class="info col-12"> Usuario: {{artista.usuario.username}}</div>
     <div class="info col-12"> NickName: {{artista.nickname}}</div>
     <div class="info col-12"> Genero Musical: {{artista.generoMusical}}</div>
     <div class="info col-12"> Instrumentos que toca</div>
     <div class="info col-12" *ngFor="let inst of artista.instrumento">
          <span> {{inst.nombreInstrumento}}</span>
    </div>
     <div>
       <button class="btn btn-success" routerLink="/redsocial/{{artista.usuario.username}}">Ver Perfil</button>
     </div>
     <div>
        <button class="btn btn-success" (click)="artistaEnviarMensaje(artista)"> Enviar Mensaje</button>
      </div>
      <div *ngIf="!revisionEnBanda(artista)">
        <button class="btn btn-warning" (click)="artistaInvitarAMiBanda(artista)"> Invitar a Banda</button>
      </div>
   
   </div>
   
 </div>

</section>