
<div> 
    <button class="btn btn-warning btn-lg d-inline-block mr-2" routerLink="/posts/nuevo/homeSocialNetwork">Nuevo Post</button>

</div>
 
<label  class="d-inline-block mr-2" for="busqueda"><strong> Mecanismo de búsqueda: </strong> </label>
<div class="d-inline-block mr-2">
    <div class="d-inline-block mr-2">
      <input id="artista" type="radio" value="artista" name="busqueda" (change)="cambioRadioButton($event)">
      <label for="artista">Artista</label>
    </div>
    <div class="d-inline-block mr-2">
      <input id="banda" type="radio" value="banda" name="busqueda" (change)="cambioRadioButton($event)">
      <label for="banda"> Banda </label>
    </div>
    <div class="d-inline-block mr-2">
      <input id="post" type="radio" value="post" name="busqueda" (change)="cambioRadioButton($event)">
      <label for="post">Post</label>
    </div>
    
</div>

<div name="filtros" id="filtros">
    <label for="buscar"> Texto Libre </label>
    <input type="text" name="buscar" id="buscar">
    <label for="generomusical">Género Musical </label>
  <select class="col-md-1 custom-select d-inline-block mr-2" data-live-search="true" id="generomusical">
    <option value=""></option>
    <option *ngFor="let generomusical of generosmusicales" value= {{generomusical.id}}>
      {{generomusical.nombre}}
    </option>
  </select>
  <label for="zona">Zona Geográfica</label>
  <select class="col-md-1 custom-select d-inline-block mr-2" data-live-search="true" id="zona">
    <option value=""></option>
    <option *ngFor="let zona of zonas" value= {{zona.id}}>
      {{zona.nombreZona}}
    </option>
  </select>

  <label for="instrumento">Instrumentos </label>
  <select class="col-md-1 custom-select d-inline-block mr-2" id="instrumento">
    <option value=""></option>
    <option *ngFor="let instrumento of instrumentos" value= {{instrumento.id}}>
      {{instrumento.nombreInstrumento}}
    </option>
  </select>

 

</div>

<button class="btn btn-success btn-lg" (click)="buscar()">Buscar en la Red </button>
 
<section id="homeSiteContainer" class="col-12">
   <div *ngIf="hayPosts" >
    <span></span>
    <div class="post row d-flex justify-content-center" *ngFor="let post of posts">
      <div class="info col-12"> Usuario: {{post.username}}</div>
      <div class="info col-12"> NickName: {{post.nickname}}</div>
      <div class="info col-12"> Creado: {{post.fechaCreacion | date: 'dd/MM/yyyy HH:mm:SS' }}</div>
      <div class="fechaEdicion col-4" *ngIf="isEdited(post)"><span>Editado: {{post.fechaEdicion | date: 'dd/MM/yyyy HH:mm:SS'}}</span></div>
      <div class="info col-12">Info Post {{post.informacion}}</div>
      <div class="col-12 d-flex flex-row justify-content-center">
        <div *ngIf="hasResource(post, 'vid')">
          <button class="btn btn-success" (click)="verVideo(post)">Ver video</button>
        </div>
        <div *ngIf="hasResource(post, 'img')">
          <button class="btn btn-success" (click)="verImagen(post)">Ver Imagenes</button>
        </div>
        <button class="btn btn-success" routerLink="/redsocial/{{post.username}}">Ver Perfil</button>
      </div>
    </div>

  </div>

</section>

<section id="artistaContainer" class="col-12">
  <div *ngIf="hayArtistas" >
   <span></span>
   <div class="post row d-flex justify-content-center" *ngFor="let artista of artistas">
    
      <div class="info col-12"> Artista: {{artista.nombre}}</div>
    <div class="info col-12"> Usuario: {{artista.usuario.username}}</div>
     <div class="info col-12"> NickName: {{artista.nickname}}</div>
     <div class="info col-12"> Genero Musical: {{artista.generoMusical.nombre}}</div>
     <div class="info col-12"> Zona Geográfica: {{artista.zona.nombreZona}}</div>
        <div class="info col-12" *ngIf="tieneInstrumentos(artista)">
          <div > Instrumentos que toca</div>
          <div  *ngFor="let inst of artista.instrumento">
                <span> {{inst.nombreInstrumento}}</span>
          </div>
        </div>
     <div>
        
       <button class="btn btn-success" routerLink="/redsocial/{{artista.usuario.username}}">Ver Perfil</button>
     </div>
     <div>
        <button class="btn btn-success" (click)="artistaEnviarMensaje(artista)"> Enviar Mensaje</button>
      </div>
      <div *ngIf="!revisionEnBanda(artista)">
        <button class="btn btn-warning" (click)="artistaInvitarAMiBanda(artista)"> Invitar a Banda</button>
      </div>
   
   </div>
   
 </div>

</section>

<section id="bandaContainer" class="col-12">
  <div *ngIf="hayBandas" >
   <span></span>
   <div class="post row d-flex justify-content-center" *ngFor="let banda of bandas">
    
    <div class="info col-12"> Banda: {{banda.nombre}}</div>
    <div class="info col-12"> Artista Lider: {{banda.artistaLider.nombre}}</div>
    <div class="info col-12"> Genero Musical: {{banda.generoMusical.nombre}}</div>
    <div class="info col-12"> Zona Geográfica: {{banda.zona.nombreZona}}</div>
    <div class="info col-12"> Puntuación</div>
     <div class="info col-12" *ngFor="let punt of banda.puntuacion">
          <span> {{punt.comentario}}</span>
    </div>
     <div>
       <button class="btn btn-success" routerLink="/banda/{{banda.nombre}}">Ver Perfil</button>
     </div>
     <div>
        <button class="btn btn-success" (click)="bandaEnviarMensaje()"> Enviar Mensaje</button>
      </div>
   </div>
   
 </div>

</section>