<h2 style="color:brown;"> Puntuación Banda </h2>
    <div class="col-12" *ngIf="isReady">
        <h4 style="color: chocolate;"> General {{promedio}} </h4>
        <div *ngIf="!isPunctuated"> <button class="btn btn-success btn-lg" (click)="puntuar()">Puntuar Banda </button> </div>
        <div class="d-flex flex-column" *ngFor="let puntuacion of listaPuntuacion">
          <div class="puntuacion" style="background-color: peachpuff"> 
            <span> Usuario : {{puntuacion.artistaLoaded.usuario.username}} </span>
            <span> - {{puntuacion.fechaPuntuacion | date: 'dd/MM/yyyy HH:mm:SS'}}</span>
            <br>
            <span> Comentario: {{puntuacion.comentario}}</span><br>
            <span> Puntuacion: {{puntuacion.puntuacion}}</span>
            
          </div>
        </div>
         
        
  
    </div>

