
<div class="container table-dark">
  <h1>Activar comercio</h1>
  <p>Para vincular su cuenta de vendedor a nuestro sistema Music APP se requiere:</p>
  <ul>
    <li>Tener una cuenta activa de MercadoPago</li>
    <li>Estar logueado en MercadoPago a momento de realizar este proceso</li>

    
    
  </ul>
  
  <input name="deacuerdo" type="checkbox" onchange="document.getElementById('continuar').disabled = !this.checked;" />
  <label for="deacuerdo">Leí atentamente las condiciones y estoy logueado en MercadoPago</label><br>


  <button type="submit" id="continuar" class="btn btn-success" (click)="armarenlace()" disabled>CONTINUAR</button>
</div>