<!-- Div General del Sitio-->
<div class="container-12">

  <div class="row d-flex justify-content-center">
      <!-- Banner izquierdo (4-size)-->
      <div class="text-center col-4 d-flex flex-column flex-wrap" style="background-color: wheat">
          <app-imagen-perfil-redsocial></app-imagen-perfil-redsocial>
          <app-info-perfil-redsocial></app-info-perfil-redsocial>
          <app-puntuacion-redsocial></app-puntuacion-redsocial>
      </div>
      <div class="col-8" style="background-color: azure">
          <app-post-redsocial></app-post-redsocial>
      </div>
  </div>
  <!-- área derecha -> Posts -->
</div>
    