<div class="container" *ngIf="!fallaInit">
    <h5>Editar Artista</h5>
    <form name="actualizar" #f="ngForm" novalidate>
        <div class="form-group">

            <div class="form-group">
                <label id="lbl_usuario"> Usuario: {{username}}</label>
            </div>
            <div class="form-group">
                <label id="lbl_email"> Email: {{email}}</label>
            </div>

            <div class="form-group">
                <label for="tx_nombre"> Nombre: </label><input class="form-control" type="text" id="tx_nombre"
                    [(ngModel)]="frm_nombre" name="frm_nombre" required autocomplete="off">
            </div>

            <div class="form-group">
                <label for="tx_apellido"> Apellido: </label>
                <input class="form-control" type="text" id="tx_apellido" [(ngModel)]="frm_apellido" name="frm_apellido"
                    required autocomplete="off">
            </div>

            <div class="form-group">
                <label for="tx_nickname"> NickName: </label>
                <input class="form-control" type="text" id="tx_nickname" [(ngModel)]="frm_nickname" name="frm_nickname"
                    required autocomplete="off">
            </div>

            <div class="form-group">
                <!-- USING HTML 5 DATALIST-->
                <label for="dl_instrumento"> Instrumento que toca: </label>
                <input #instrumento class="form-control" type="text" (keyup)="predictivo($event)" autocomplete="off"
                    name="dl_instrumento" id="dl_instrumento" list="dinamicInstrumento" />
                <datalist id="dinamicInstrumento">
                    <option *ngFor="let instrumento of respuesta" [value]="instrumento">{{instrumento}}</option>
                </datalist>
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Instrumento</th>
                            <th scope="col">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let seleccionado of instrumentosSeleccionados">
                            <td>{{seleccionado}}</td>
                            <img src="https://www.freeiconspng.com/uploads/red-delete-button-png-5.png" height="25"
                                width="25" (click)="borrarLinea($event)" />
                        </tr>
                    </tbody>
                </table>
                <!--  -->
            </div>

            <div class="form-group">
                <label for="documento"> Nro Documento: </label>
                <input class="form-control" type="number" id="nu_documento" [(ngModel)]="frm_documento"
                    name="frm_documento" required autocomplete="off" (blur)="validarDNI()" min="0"
                    oninput="validity.valid||(value='');" autocomplete="off">
                <div class="aler alert-danger" [hidden]="dniValido">
                    El dni debe tener de 8 números
                </div>
            </div>

            <div class="form-group">
                <label for="fc_fechanacimiento"> Fecha Nacimiento: </label>
                <input type="date" class="form-control" name="frm_fechanacimiento" id="fc_fechanacimiento"
                    [(ngModel)]="frm_fechanacimiento" value="{{artista.fechaNacimiento | date: 'yyyy-MM-dd'}}" required autocomplete="off" (blur)="revisarFecha()">
                <div class="aler alert-danger" [hidden]="fechaValida">
                    No es una fecha de nacimiento válida
                </div>
            </div>

            <div class="form-group">
                <label for="genero"> Género: </label>
                <select class="form-control" id="sl_genero" name="frm_genero" [(ngModel)]="frm_genero" [compareWith]="compararGenero">
                    <option *ngFor="let itemGenero of generos" [ngValue]="itemGenero">
                        {{itemGenero.nombreGenero}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="zona"> Zona de Trabajo: </label>
                <select class="form-control" id="sl_zona" name="frm_zona" [(ngModel)]="frm_zona" [compareWith]="compararZona" (blur)="habilitarONoFormulario()">
                    <option *ngFor="let itemZona of zonas" [ngValue]="itemZona">{{itemZona.nombreZona}}
                    </option>
                </select>
            </div>

        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-success" [disabled]="!formularioValido"> Actualizar Usuario</button>
        </div>
    </form>
    <div>
        <button class="btn btn-primary float-left mr-3" routerLink="/perfil">Volver</button>
    </div>

    <br>

    <br>
    <div *ngIf="falloActualizacion" class="float-left">
        <p class="p-3 bg-danger text-white rounded">Error: {{msjFallo}}</p>
    </div>
    <div *ngIf="actualizado" class="float-left">
        <p class="p-3 bg-success text-white rounded">OK: {{msjOK}}</p>
    </div>
</div>