<div class="container">
  <div *ngIf="totalizadorCargado" class="display-4 text-center">
    <strong> TOTALIZADOR </strong>
    <label class="text-success"> ${{totalizador}}.- </label>
  </div>
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Venta</th>
        <th scope="col">Fecha</th>
        <th scope="col">Movimiento</th>
        <th scope="col">Estado</th>
        <th scope="col">Debe</th>
        <th scope="col">Haber</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pago of pagos">
        <td>{{pago.id}}</td>
        <td>{{pago.idVenta}}</td>
        <td>{{pago.fechaPago}}</td>
        <td>{{pago.tipoMovimiento}}</td>
        
       
            <td *ngIf="pago.estado=='approved'; else notApproved"class="text-success"> {{pago.estado}}</td>
          
           <td *ngIf="pago.estado=='approved'" class="text-success  "> $  {{pago.importe}}</td>
           <td *ngIf="pago.estado=='approved'" > - </td>
       
    
        <ng-template  #notApproved>
            <td class="text-danger"> {{pago.estado}}</td>
            <td > - </td>
            <td class="text-danger"> $ {{pago.importe}}</td>
        </ng-template>
       
        
        
      </tr>
    </tbody>
  </table>
</div>