<div class="container">
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Venta</th>
        <th scope="col">Fecha</th>
        <th scope="col">Movimiento</th>
        <th scope="col">Estado</th>
        <th scope="col">Importe</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pago of pagos">
        <td>{{pago.id}}</td>
        <td>{{pago.idVenta}}</td>
        <td>{{pago.fechaPago}}</td>
        <td>{{pago.tipoMovimiento}}</td>
        <td>{{pago.estado}}</td>
        <td>${{pago.importe}}</td>
      </tr>
    </tbody>
  </table>
</div>